# ============================================================
# CODEOWNERS — https://github.com/InternationalColorConsortium
# ============================================================
#
# Updated 04-DEC-2025 1800Z by David Hoyt @xsscx
# Intent: Governance, Transparency, Best Practice
# ============================================================

* @xsscx

# GitHub Actions workflows & PR automation
.github/** @xsscx @dwtza

# Build system logic
Build/** @xsscx @ChrisCoxArt

# Protect the CODEOWNERS file itself
CODEOWNERS                 @xsscx @maxderhak @ChrisCoxArt @dwtza

# Governance: protect CODEOWNERS and key security/docs
SECURITY.md @xsscx @maxderhak @ChrisCoxArt @dwtza
README.md @xsscx @maxderhak @ChrisCoxArt @dwtza
docs/** @xsscx @maxderhak @ChrisCoxArt @dwtza
