# ============================================================
# CODEOWNERS — https://github.com/InternationalColorConsortium
# ============================================================
#
# Updated 17-DEC-2025 1200Z by David Hoyt @xsscx
# Intent: Governance, Transparency, Best Practice
# Last Modification: Add Absolute Path for CODEOWNERS
#
#
# ============================================================

# Notify Default
# Triage Point of Contact
* @xsscx

# GitHub Actions workflows & PR automation
.github/** @xsscx @dwtza

# Build system logic
Build/** @xsscx @ChrisCoxArt

# Protect the CODEOWNERS file itself
.github/CODEOWNERS                 @xsscx @maxderhak @ChrisCoxArt @dwtza

# Governance: protect CODEOWNERS and key security/docs
SECURITY.md @xsscx @maxderhak @ChrisCoxArt @dwtza
README.md @xsscx @maxderhak @ChrisCoxArt @dwtza
docs/** @xsscx @maxderhak @ChrisCoxArt @dwtza
